/* Plus button um videospiel hinzuzufügen */

.videospiel_hinzufuegen {
    border-radius: 50%;
    margin-left: 5rem;
    font-size: 5rem;
    margin-top: 15rem;
    width: 4.5%;
    height: 5%;
    transition: 0.5s ease;
    cursor: pointer;
}

.videospiel_hinzufuegen:hover {
    color: black;
    background-color: #1e8fb9;
}

.videospiel_hinzufuegen_nodata {
    border-radius: 50%;
    font-size: 5rem;
    width: 6.5%;
    margin-left: 55rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.videospiel_hinzufuegen_nodata:hover {
    color: black;
    background-color: #1e8fb9;
}


/* Main */

main {
    margin: 2rem;
    color: white;
}

.noData {
    text-align: center;
}

.gameRow {
    display: flex;
    flex-wrap: wrap;
}

.game {
    width: 20%;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 40px;
    margin-left: 0%;
    margin-top: 0%;
    display: inline-block;
    transition: 0.5s;
}

.game img {
    width: 100%;
}

.game:hover {
    box-shadow: 0px 10px 0px lightgray;
    transition: 0.5s;
}


/* Kaufen Knopf */

.buy {
    background-color: white;
    /* Green */
    border: 2px solid blue;
    color: blue;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buy:hover {
    background-color: blue;
    color: white;
}


/* Bearbeiten Knopf */

.edit {
    background-color: white;
    /* Green */
    border: 2px solid green;
    color: green;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

.edit:hover {
    background-color: green;
    color: white;
}


/* Löschen Knopf */

.delete {
    background-color: white;
    /* Green */
    border: 2px solid red;
    color: red;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.delete:hover {
    background-color: red;
    color: white;
}


/* Gekauft Knopf */

.bought {
    background-color: rgb(193, 164, 18);
    border: 2px solid rgb(193, 164, 18);
    color: white;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 2rem;
    transition-duration: 0.4s;
}